---
import { SITE_TITLE } from '../consts';
import HeaderLink from './HeaderLink.astro';
---

<header>
	<nav>
		<h2><a href="/">{SITE_TITLE}</a></h2>
		<div class="internal-links">
			<HeaderLink href="/blog">Posts</HeaderLink>
			<HeaderLink href="/about">Acerca de mi</HeaderLink>
		</div>
	</nav>
</header>
<style>
  header {
    max-width:960px;
		margin: 10px auto;
		padding: 0 1em;
    border-radius: 100px;

    h2{
      font-style: italic;
    }
	}
	h2 {
		margin: 0;
		font-size: 1em;
	}

	h2 a,
	h2 a.active {
		text-decoration: none;
	}
	nav {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	nav a {
		padding: 10px;
		color: var(--black);
		text-decoration: none;
	}
	nav a.active {
		text-decoration: none;
	}
	.social-links,
	.social-links a {
		display: flex;
	}
  .internal-links{
    font-size:1rem;
  }
	@media (max-width: 720px) {
		.social-links {
			display: none;
		}
	}
</style>
